:root {
    --background-color: #FFF9FB;
    --primary-color: #4B88A2;
    --secundary-color: #4C97B7;
    --text-color: #00171F;
    }

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-color);
}
body {
    background: var(--background-color);
}

.main {
    margin-left: 100px;
    margin-top: 15vh;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

.quote {
    display: flex;
    align-items: center;
}

.quote-title {
    max-width: 470px;
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
}

.quote-title::after {
    content: '|';
    font-weight: 400;
    margin-left: 5px;
    opacity: 1;
    animation: blink .5s infinite;
    font-style: normal;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.quote-bar {
    margin: 6px;
    background: var(--primary-color);
    width: 3px;
    height: 150px;
}

.ip {
    display: flex;
    margin: 40px 0px;
    align-items: center;
}

.ip-title {
    margin: 0px 5px;
    font-size: 30px;
    font-weight: bold;
}

.ip-state {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 23, 31, 40%);
}

.button-main {
    display: flex;
}

.btn-shop {
    background: var(--primary-color);
    padding: 18px 80px;
    color: var(--background-color);
    font-size: 24px;
    font-weight: bold;
    border-radius: 40px;
    margin-right: 20px;
}

.btn-more {
    background: var(--background-color);
    padding: 15px 40px;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
    border-radius: 40px;
    border-style: solid;
    border-color: var(--primary-color);
    margin-left: 20px;
}

.btn-more:hover {
    cursor: pointer;
}
.btn-shop:hover {
    cursor: pointer;
}

.subtitle {
    width: 100%;
    left: 50%;
    text-align: center;
    margin-top: 30vh;
    align-items: center;
}

h2 {
    font-size: 42px;
    font-weight: bold;
}

.subtitle-sobre {
    color: rgba(0, 23, 31, 40%);
    margin: 15px 0;
    font-size: 24px;
    font-weight: bold;
}

.subtitle-text {
    color: rgba(0, 23, 31, 40%);
    font-size: 22px;
    margin: 20px 26%;
}
.subtitle-shop {
    color: rgba(0, 23, 31, 40%);
    margin: 15px 0;
    font-size: 24px;
    font-weight: bold;
}

.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    
}
.container {
    position: relative;
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 0.5s;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    transition: 0.5s;
}

.container .card:before{
    content: '';
    position: absolute;
    top: -15px ;
    left: 0;
    width: 100%;
    height: 15px;
    background: var(--primary-color);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

.container .card:after{
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 15px;
    height: 50%;
    background: var(--primary-color);
    transform-origin: left;
    transform: skewY(45deg);
    transition: 0.5s;
    border-bottom: 200px solid #d9d9d9;
}

.container .card:hover {
    transform: translateY(-40px);
}

.container .card .titleBX {
    position: relative;
    width: 300px;
    height: 200px;
    background: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card .titleBX h3 {
    position: relative;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
}

.container .card .content {
    position: relative;
    height: 160px;
    padding: 20px;
    text-align: center;
    background: #fff;

}

.container .card .content p{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}


.container .card .content:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(transparent,transparent,rgba(0,0,0,.1));
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    pointer-events: none;
    z-index: -1;
}

.container .card:hover .content:before {
    transform: translateY(40px) skewX(45deg);
    filter: blur(5px);
    opacity: 0.5;
}

.container .card:nth-child(1){
    z-index: 3;
}

.container .card:nth-child(2){
    z-index: 2;
}

.container .card:nth-child(3){
    z-index: 1;
}

.body-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.container-shop {
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-shop {
    position: relative;
    width: 300px;
    height: 420px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transition: 0.5s;
}
.container-shop:hover .card-shop {
    filter:blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}
.container-shop .card-shop:hover  {
    filter:blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.circle-shop {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}
.circle-shop h2 {
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}

.container-shop .card-shop .content-shop {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}

.container-shop .card-shop .content-shop p{
    color: #666;
}
.container-shop .card-shop .content-shop a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}

.container-shop .card-shop:nth-child(1) .circle-shop,  
.container-shop .card-shop:nth-child(1) .content-shop a{
    background: #4C97B7;
}
.container-shop .card-shop:nth-child(2) .circle-shop,  
.container-shop .card-shop:nth-child(2) .content-shop a{
    background: #FF3B3B;
}
.container-shop .card-shop:nth-child(3) .circle-shop,  
.container-shop .card-shop:nth-child(3) .content-shop a{
    background: #13C15E;
}

.hide {
    display: none;
}

footer p{
    text-align: center;
    color: rgba(0, 23, 31, 40%);
    padding: 10px;
}