:root {
    --background-color: #FFF9FB;
    --primary-color: #4B88A2;
    --secundary-color: #4C97B7;
    --text-color: #00171F;
    }

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-color);
}
body {
    background: var(--background-color);
}

.main {
    margin-left: 100px;
    margin-top: 15vh;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

.quote {
    display: flex;
    align-items: center;
}

.quote-title {
    max-width: 470px;
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
}

.quote-bar {
    margin: 6px;
    background: var(--primary-color);
    width: 3px;
    height: 150px;
}

.ip {
    display: flex;
    margin: 40px 0px;
    align-items: center;
}

.ip-title {
    margin: 0px 5px;
    font-size: 30px;
    font-weight: bold;
}

.ip-state {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 23, 31, 40%);
}

.button-main {
    display: flex;
}

.btn-shop {
    background: var(--primary-color);
    padding: 18px 80px;
    color: var(--background-color);
    font-size: 24px;
    font-weight: bold;
    border-radius: 40px;
    margin-right: 20px;
}

.btn-more {
    background: var(--background-color);
    padding: 15px 40px;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
    border-radius: 40px;
    border-style: solid;
    border-color: var(--primary-color);
    margin-left: 20px;
}

.btn-more:hover {
    cursor: pointer;
}

.subtitle {
    width: 100%;
    left: 50%;
    text-align: center;
    margin-top: 30vh;
    align-items: center;
}

h2 {
    font-size: 42px;
    font-weight: bold;
}

.subtitle-sobre {
    color: rgba(0, 23, 31, 40%);
    margin: 15px 0;
    font-size: 24px;
    font-weight: bold;
}

.subtitle-text {
    color: rgba(0, 23, 31, 40%);
    font-size: 22px;
    margin: 20px 26%;
}

.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    
}
.container {
    position: relative;
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 0.5s;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    transition: 0.5s;
}

.container .card:before{
    content: '';
    position: absolute;
    top: -15px ;
    left: 0;
    width: 100%;
    height: 15px;
    background: var(--primary-color);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

.container .card:after{
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 15px;
    height: 50%;
    background: var(--primary-color);
    transform-origin: left;
    transform: skewY(45deg);
    transition: 0.5s;
    border-bottom: 200px solid #d9d9d9;
}

.container .card:hover {
    transform: translateY(-40px);
}

.container .card .titleBX {
    position: relative;
    width: 300px;
    height: 200px;
    background: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card .titleBX h3 {
    position: relative;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
}

.container .card .content {
    position: relative;
    height: 160px;
    padding: 20px;
    text-align: center;
    background: #fff;

}

.container .card .content p{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}


.container .card .content:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(transparent,transparent,rgba(0,0,0,.1));
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    pointer-events: none;
    z-index: -1;
}

.container .card:hover .content:before {
    transform: translateY(40px) skewX(45deg);
    filter: blur(5px);
    opacity: 0.5;
}

.container .card:nth-child(1){
    z-index: 3;
}

.container .card:nth-child(2){
    z-index: 2;
}

.container .card:nth-child(3){
    z-index: 1;
}

footer p{
    text-align: center;
    color: rgba(0, 23, 31, 40%);
    padding: 10px;
}